<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
 on blog page
 
 Blog Title Date  Body  
MY BLOG POST 0  Published 5 days


list of many of the options
http://guides.rubyonrails.org/layouts_and_rendering.html