<div class="app-card-container">
      <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Justin_Kinner_Developer_Pic_edited.jpg", width:300, alt: "profile image" %> 
        <div> <h3> Time Division per Month </h3> </div>
        <div class="skills">
          <% @skills.each do |skill|%>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
       
      <div class="col-md-8">
      <p>After over a decade of business experience, an MBA and working in varied companies and startups in a number of industries, I realized I was never fully content with the creation options available to me. It wasn't until I came up software and web development, later in my career, that I found my true passion. In this industry I can tie together all the things that I love about working with people and the creation process. It is a great time to creating.</p>

      <p>It is my mission to provide quality projects, grow my skills and help better the companies and teams I work for and with. When developing projects for customers and teams, I take a hands on approach and attempt to be transparent every step of the way. I love to utilize the newest technologies and learn new things. Let's work together and build some amazing products!</p>

        <p>
          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Recent Job History
          </button>

          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h4>Teton Tent Rental-President & Founder - 2012 to 2017</h4>
              <p>Teton Tent Rental was founded in 2012 and meticulously planned and grown to be a full service event rental company specializing in public events, weddings, corporate events and backyard style galas. Services offered included end to end event management including event design, installation and service of all rental equipment. 

              Revenues grew by an average of 66% per year as did inventory levels, company branding/outreach and employee management. In 2017, the company was sold to allow the owner to make a life change to a new geographic region and explore new career prospects. 

              As the president, my duties were many and included project management, budgeting, direct sales, marketing plan creation and deployment, employee management, web design, financial analysis, purchasing, installation of events and growth.</p>
            </div>

            <div class="card card-block">
              <h4>Independent Alarm-Director of Marketing & Sales - 2011 to 2015 </h4>
              <p>As the Director of Marketing & Sales of this 25+ employee privately held company, I had the opportunity to work with an amazing team and achieve some great goals. There was never a dull day leading our sales and marketing team, creating the company's first ever strategic plan and personally building the new company website.  

              Highlights include:  
              1) Developing and implementing the company's first ever strategic plan after 35 years in business.
              2) Rebranding the entire company including logo, customer communication channels, reputation management online and the corporate website. 
              3) Creating the new sales literature and procedures for the company.
              4) Successfully estimating, bidding and selling 300+ installation contracts. </p>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <h4>Bottega Tech, Lehi, UT, Certificate in Full Stack Development-Spring 2018</h4>

              <p>12 week full time immersive full stack development program with concentrations in Ruby, Ruby on Rails, Javascript, CLI, Rspec testing, Git, Object Oriented Programming, frameworks, Angular, Databases, Agile workflow, team building, benchmarking, debugging and architecture.</p> 
            </div>
            <div class="card card-block">
              <h4>Babson College, MBA in Entrepreneurship and Operations, Spring 2011</h4>

              <p>Concentrations in Entrepreneurship and operations including extensive coursework in: financial analysis, Mergers and Acquisitions, Strategy, growth strategies, business and marketing plans, teamwork, and negotiations.</p> 
            </div>
            <div class="card card-block">
              <h4>Stockton University, Pomona, NJ, BS in Finance, Spring 2005</h4>

              <p>Concentation in Finance, business management, accounting and economics.</p> 
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



