<div class="inner cover">
  <h1 class="cover-heading">Welcome to my Portfolio Page.</h1>
  <p class="lead">My name is Justin Kinner and I appreciate you coming to my portfolio page. I'm a software developer with extensive business experience growing and building organizations. Let's work together!</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


