<div class="inner cover">
  <h1 class="cover-heading">Welcome to my Portfolio.</h1>
  <p class="lead">My name is Justin Kinner and thank you for coming to my portfolio. Simply put, I love building things and solving problems. As a full-stack developer with business experience growing and building organizations, I feel I'm ready for anything. Let's work together!</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


